header {
    height: 70px;
}

.navbar-brand > img, .text-body-secondary > img {
    border-radius: 4px;
}

.overview-img {
    border-radius: 15px;
}

.card-image {
    height: 32px;
    width: 32px;
    object-fit: scale-down;
}

.card:hover {
    cursor: pointer;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus, .navbar-toggler:active, .btn-close:focus, .btn-close:active {
    outline: none !important;
    box-shadow: none;
 }